excel_node.json
[{"id":"21addc95.3322f4","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"df396104.3078b","type":"ncd-gateway-node","z":"21addc95.3322f4","name":"","connection":"b2933c2.fec5dc","x":140,"y":80,"wires":[[]]},{"id":"b938e310.ba4ef","type":"ncd-wireless-node","z":"21addc95.3322f4","name":"","connection":"220af376.1c24cc","config_comm":"fb46f24e.c4341","addr":"","sensor_type":"1","auto_config":"","node_id":0,"delay":300,"destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":120,"y":200,"wires":[["169f12eb.2edaad","47ed6c99.4d9f54"]]},{"id":"169f12eb.2edaad","type":"json","z":"21addc95.3322f4","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":200,"wires":[["d98f712.f8b199"]]},{"id":"47ed6c99.4d9f54","type":"debug","z":"21addc95.3322f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":300,"y":340,"wires":[]},{"id":"d98f712.f8b199","type":"excel","z":"21addc95.3322f4","name":"excel_output","file":"C:\\Users\\dcube\\Desktop\\excel_output.xlsx","x":550,"y":200,"wires":[[]]},{"id":"b2933c2.fec5dc","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"220af376.1c24cc","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"fb46f24e.c4341","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false}]