node_red_excel_outpt.json
[{"id":"c2697771.fb6db8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2ecc9d14.42a2a2","type":"ncd-gateway-node","z":"c2697771.fb6db8","name":"","connection":"7cc0565b.898ba8","x":120,"y":80,"wires":[["f0354fde.82ef1"]]},{"id":"f0354fde.82ef1","type":"debug","z":"c2697771.fb6db8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":80,"wires":[]},{"id":"176a6bea.9967a4","type":"ncd-wireless-node","z":"c2697771.fb6db8","name":"","connection":"3a63a78.66c7858","config_comm":"be3e53dd.346c8","addr":"","sensor_type":"1","auto_config":"","node_id":0,"delay":300,"destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":120,"y":200,"wires":[["2b6528b9.6a3a78","390e7f7.e94e48"]]},{"id":"2b6528b9.6a3a78","type":"function","z":"c2697771.fb6db8","name":"","func":"var temperature = msg.payload.temperature\nvar humidity = msg.payload.humidity\nvar d = new Date();\nvar time = d.toLocaleTimeString();\nvar m ={'Time':time,'Temperature':temperature,'Humidity':humidity};\nreturn {payload:m};","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["6d7bb397.bf6ddc"]]},{"id":"390e7f7.e94e48","type":"debug","z":"c2697771.fb6db8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":340,"wires":[]},{"id":"6d7bb397.bf6ddc","type":"csv","z":"c2697771.fb6db8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"Time,Temperature,Humidity","skip":"1","x":550,"y":200,"wires":[["4703fa10.7da934"]]},{"id":"4703fa10.7da934","type":"file","z":"c2697771.fb6db8","name":"excel_output","filename":"C:\\Users\\dcube\\Desktop\\excel_output.xlsx","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":730,"y":200,"wires":[[]]},{"id":"7cc0565b.898ba8","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"3a63a78.66c7858","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"be3e53dd.346c8","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false}]